<div class="d-flex align-items-center justify-content-center">
  <h1>Sign Up</h1>
</div>

<%= form_with model: @user, url: "/sign-up" do |form| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>